section.task-list {
  background: var(--shapes);
  border-radius: 1rem;
  margin-top: -10rem;
  padding: 70px 60px;
  -webkit-filter: drop-shadow(0px 24px 64px rgba(0, 0, 0, 0.06));
          filter: drop-shadow(0px 24px 64px rgba(0, 0, 0, 0.06));
}

section.task-list header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section.task-list header h2 {
  color: var(--text-title);
  font-size: 2.25rem;
}

section.task-list header .input-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.25rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fff;
  font-size: 16px;
}

section.task-list header .input-group input {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background: var(--background);
  border: 0;
  color: var(--text);
  padding: 12px 24px;
  border-radius: 8px;
  border: 0;
}

section.task-list header .input-group input::-webkit-input-placeholder {
  color: var(--text-light);
}

section.task-list header .input-group input:-ms-input-placeholder {
  color: var(--text-light);
}

section.task-list header .input-group input::-ms-input-placeholder {
  color: var(--text-light);
}

section.task-list header .input-group input::placeholder {
  color: var(--text-light);
}

section.task-list header .input-group button {
  font-weight: 600;
  border-radius: 8px;
  border: 0;
  background: var(--green);
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 14px;
  -webkit-transition: -webkit-filter 0.2s;
  transition: -webkit-filter 0.2s;
  transition: filter 0.2s;
  transition: filter 0.2s, -webkit-filter 0.2s;
}

section.task-list header .input-group button:hover {
  -webkit-filter: brightness(0.95);
          filter: brightness(0.95);
}

section.task-list main {
  margin-top: 3rem;
}

section.task-list main ul {
  list-style: none;
}

section.task-list main ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #EBEBEB;
  padding: 1rem 0;
}

section.task-list main ul li div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 14px;
  outline: 0;
}

section.task-list main ul li div p {
  font-size: 1rem;
  color: var(--text);
}

section.task-list main ul li div.completed p {
  text-decoration: line-through;
  opacity: 0.6;
}

section.task-list main ul li div .checkbox-container {
  display: block;
  position: relative;
  padding-left: 14px;
  margin-bottom: 18px;
}

section.task-list main ul li div .checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

section.task-list main ul li div .checkbox-container input:checked ~ .checkmark {
  background-color: var(--blue);
}

section.task-list main ul li div .checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

section.task-list main ul li div .checkbox-container .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
  background-color: var(--background);
  border-radius: 2px;
}

section.task-list main ul li div .checkbox-container .checkmark:after {
  content: "";
  position: absolute;
  display: none;
  left: 6px;
  top: 3px;
  width: 3px;
  height: 6px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

section.task-list main ul li button {
  background: transparent;
  border: 0;
}

section.task-list main ul li button svg {
  color: var(--red);
}

section.task-list main ul li button:hover svg {
  -webkit-filter: brightness(0.5);
          filter: brightness(0.5);
}
/*# sourceMappingURL=tasklist.css.map */